/* Global Rules ---------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-color: hsl(229, 57%, 11%);
}
@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}
/* End Global Rules ------------------------- */
.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
}

.wrapper .botside {
  background-image: url(../images/bg-desktop.png);
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
}

.wrapper .botside {
  display: flex;
}
.wrapper .botside .container {
  display: grid;
  grid-template-columns: repeat(1, auto auto);
  column-gap: 40px;
  position: relative;
}

/* Left-Box -----------------------------------------*/
.left-side {
  background: hsl(228, 56%, 26%);
  height: 240px;
  width: 374px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 15px 125px 15px 15px;
  position: absolute;
  top: -25%;
  left: -25%;
}
.left-side .icons {
  display: flex;
}
.left-side .icons .img {
  margin: 47px 11px 0 0;
  background: hsl(229, 57%, 11%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.left-side .logo img {
  width: 160px;
  margin-top: 15px;
}

/* Right-Box ----------------------------------------*/
.container .right-side {
  background: hsl(228, 56%, 26%);
  height: 170px;
  width: 600px;
  position: relative;
  top: -10%;
  right: -50%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: white;
}
.right-side .info-bar {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.right-side .info-bar #p-info {
  margin-left: 8%;
  margin-bottom: 20px;
  font-weight: 400;
}
.right-side .info-bar span {
  font-weight: 700;
}
.right-side .info-bar .progress-left {
  background: white;
  color: black;
  position: absolute;
  height: 90%;
  width: 30%;
  border-radius: 10px;
  right: 10%;
  bottom: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side .info-bar .progress-left p:first-child {
  font-size: 40px;
  font-weight: 700;
}
.right-side .info-bar .progress-left p:last-child {
  font-size: 14px;
  text-transform: uppercase;
  margin: 8px 0 0 5px;
  color: hsl(229, 7%, 55%);
  position: relative;
}
.info-bar .progress-left p:last-child::after {
  content: "";
  position: absolute;
  border-color: white white transparent transparent;
  border-width: 20px;
  border-style: solid;
  top: 30px;
  right: -26px;
}

.right-side .bar-container {
  flex-basis: 60%;
}

.right-side .progress-bar {
  width: 80%;
  height: 25%;
  background: hsla(228.8, 57.1%, 11%, 0.59);
  margin: auto;
  border-radius: 50px;
  position: relative;
}
.right-side .progress-bar::after {
  content: "";
  position: absolute;
  background: white;
  height: 80%;
  width: 20px;
  right: 20%;
  top: 2px;
  border-radius: 50%;
}
.right-side .progress-bar ::before {
  content: "0gb";
  position: absolute;
  text-transform: uppercase;
  top: 30px;
  font-weight: 700;
}
.right-side .progress-bar ::after {
  content: "1000gb";
  position: absolute;
  top: 30px;
  text-transform: uppercase;
  right: 0;
  font-weight: 700;
}
.right-side .progress-bar .half-bar {
  height: 100%;
  width: 80%;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
  border: 2px solid hsla(228.8, 57.1%, 11%, 0.59);
}

/* Responsive ---------------------------------- */
@media (max-width: 767px) {
  .wrapper .botside {
    flex-basis: 100%;
    background-image: url("../images/bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrapper .botside .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container .left-side {
    width: 320px;
    margin-bottom: 15px;
    position: static;
  }
  .container .right-side {
    height: 170px;
    width: 320px;
    position: static;
  }
  .right-side .info-bar .progress-left {
    right: 25%;
    bottom: -156%;
    height: 75%;
    width: 50%;
  }
  .info-bar .progress-left p:last-child::after {
    display: none;
  }
}
